.footer {
    background-color: #075895; // display: flex;
    display: flex;
    align-items: center;
    color: $light;
    padding: 20px 0;
    p {
        width: 50%;
        position: relative;
        text-align: left;
        margin: 0 auto;
        text-align: center;
        font-size: 1.25rem;
    }
    .media-icons {
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 1.5rem;
        .icon-group {
            a:link,
            a:visited {
                color: $light;
                font-size: 1.75rem;
                padding-right: 15px;
                transition: all .5s;
            }
            a:hover,
            a:active {
                color: $primary;
                cursor: pointer;
            }
        }
    }

    @media only screen and (max-width: 430px){
        &{
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            padding: 12px !important;
        }
        .media-icons{
            position: relative !important;
            margin-right: 0 !important;
            width: 25%;
            justify-content: space-around;
            border: 1px solid orange;
            a:link,a:visited{
                padding-right: 0 !important;
            }

        }
    }

    @media only screen and (max-width: 330px){
       p{
           font-size: 1.1rem !important;
       }
    }
}