.footer {
    background-color: #075895; // display: flex;
    display: flex;
    align-items: center;
    color: $light;
    padding: 20px 0;
    p {
        width: 50%;
        position: relative;
        text-align: left;
        margin: 0 auto;
        text-align: center;
        font-size: 1.25rem;
    }
    .media-icons {
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 3rem;
        .icon-group {
            a:link,
            a:visited {
                color: $light;
                font-size: 1.75rem;
                padding-right: 15px;
                transition: all .5s;
            }
            a:hover,
            a:active {
                color:$primary;
            }
        }
    }
}