@import '../variables';
.header {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 100vh;
    .nav-hidden {
        opacity: 0;
        transition: all 1s;
    }
    .nav-fixed {
        opacity: 1;
        transition: all 1s;
        background-color: #075895;
    }
    .brand-container {
        height: 35px;
    }
    .brand {
        height: 100%;
    }
    .link:link,
    .link:visited {
        color: $light;
        text-decoration: none;
        font-size: 1.35rem;
        padding-right: 3rem;
    }
    .container-full {
        display: none;
    }
    .grid {
        height: 100vh;
        .grid-item {
            width: 100%;
        }
        .header-title {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .header-image {
            height: 50%;
            display: flex;
            justify-content: center;
            img {
                height: 100%;
                border-radius: 50%;
            }
        }
        .header-about {
            margin-top: 1.75rem;
            text-align: center;
            p {
                font-size: 1.35rem;
                color: $light;
                letter-spacing: 2px;
            }
        }
    }
    .about-info {
        height: 100%;
        background-color: rgba($color: #075895, $alpha: 0.9);
        padding: 2rem 1rem;
    }
    h1 {
        margin-top: 0;
        font-size: 5rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    nav {
        color: $light;
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
    }
    .left-nav {
        display: flex;
    } // Responsive styles
    .header-responsive {
        border: 1px solid green;
        background-color: rgba($color: #075895, $alpha: 0.9);
        height: 100vh;
       
        .header-responsive-title {
            width: 90%;
            margin: 0 auto;
            border: 1px solid red;
            text-align: center;
            padding-top: 0.5rem;
            h1 {
                font-size: 4.5rem;
                margin-bottom: 0.4rem;
            }
            h3 {
                font-size: 2.5rem;
            }
        }
        .header-responsive-about {
            width: 90%;
           
            border: 1px solid blue;
            text-align: center;
            margin: 1.5rem auto;
            p {
                font-size: 1.5rem;
            }
        }
        .header-responsive-headshot {
            width: 90%;
            margin: 0 auto;
            height: 40%;
            text-align: center;
            img {
                height: 100%;
                border-radius: 10px;
            }
        }
    }
    @media only screen and (max-width: 1080px) {
        .header-about p {
            font-size: 1.2rem !important;
            color: green;
        }
        .header-title {
            h1 {
                font-size: 4rem;
            }
            h3 {
                font-size: 2.25rem;
            }
        }
    }
    @media only screen and (max-width: 846px) {
        .header-title {
            h1 {
                font-size: 4rem;
            }
            h3 {
                font-size: 2rem;
            }
        }
    }
    @media only screen and (max-width: 546px) {
        .header-responsive-title {
            h1 {
                font-size: 4rem !important;
                margin-bottom: 0.4rem;
            }
            h3 {
                font-size: 2rem !important;
            }
        }
    }
    @media only screen and (max-width: 438px) {
        .header-responsive-title {
            h1 {
                font-size: 3.75rem !important;
                margin-bottom: 0.4rem;
            }
            h3 {
                font-size: 1.75rem !important;
            }
        }
        .header-responsive-headshot {
            height: 40% !important;
            text-align: center;
            img {
                height: 90% !important;
                border-radius: 10px;
            }
        }
        .header-responsive-about {
            p {
                font-size: 1.5rem !important;
            }
        }
    }
    @media only screen and (max-width: 381px) {
        .header-responsive-title {
            h1 {
                font-size: 3rem !important;
                margin-bottom: 0.4rem;
            }
            h3 {
                font-size: 1.35rem !important;
            }
        }
        .header-responsive-headshot {
            height: 40% !important;
            text-align: center;
            img {
                height: 90% !important;
                border-radius: 10px;
            }
        }
        .header-responsive-about {
            p {
                font-size: 1.3rem !important;
            }
        }
    }
}