.projects {
    background-color: #375585;
    h2 {
        color: $light;
    }
    .container {
        width: 95%;
        margin: 0 auto;
    }
    .grid-item {
        height: 475px;
    }
    .project {
        margin-bottom: 2rem;
    }
    .project:last-child {
        margin-bottom: 0;
    }
    .carousel-img {
        height: 250px;
        img {
            height: 100%;
        }
    }
    .project-info {
        background-color: #E5E5E5;
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .project-description{
            p{
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }
    }
    li.slider-slide {
        height: 100%;
    }
    .project-view {
        height: 100%;
        .carousel-container {
            border: 5px solid red;
            height: 100%;
        }
        div {
            height: 100%;
        }
        .slider-img {
            height: 100%;
        
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .slick-arrow {
        z-index: 5;
    }
    .slick-next {
        right: 15px;
    }
    .slick-prev {
        left: 20px;
    }
    .slick-dots {
        position: absolute;
        bottom: 10px;
        li {
            button::before {
                color: #F6F6F9;
            }
        }
        li.slick-active {
            button:before {
                color: #f6f6f7;
                opacity: 1;
            }
        }
    }
    .project-title {
        h3 {
            font-size: 2.75rem;
            text-align: center;
        }
        h5 {
            text-align: center;
            position: relative;
            top: 0.2rem;
            font-size: 1.25rem;
        }
    }
    .project-links {
        width: 75%;
        margin: 0 auto;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        button {
            margin-right: 1.25rem;
        }
    }
    .project-tech {
        h5 {
            font-size: 1.5rem;
        }
        .icon-container {
            height: 3rem;
            margin: 0 auto;
            text-align: center;
            margin-top: 0.75rem;
            img {
                height: 100%
            }
        }
    }
    @media screen and (max-width: 958px) {
        .project-info {
            .project-description {
                border: 1px solid red;
                width: 80%;
                margin: 0 auto;
            }
            .project-tech {
                border: 1px solid red;
                width: 80%;
                margin: 0 auto;
                text-align: center;
                .MuiGrid-container-65 {
                    border: 1px solid orange;
                    display: flex;
                    justify-content: space-between;
                }
                .MuiGrid-item-66 {
                    //    border: 2px solid green;
                    margin-top: 1rem; //    width: 25%;
                }
                .icon-container {
                    height: 3.25rem;
                    margin-top: 0 !important;
                }
            }
        }
    }
    @media screen and (max-width: 824px) {
        .project-info {
            
            .project-tech {
                border: 1px solid red;
                .MuiGrid-item-66 {
                    width: 25%;
                }
                .icon-container {
                    height: 3.5rem;
                }
            }
        }
    }
    @media screen and (max-width: 610px) {
        .project-info { 
            .project-tech {
                .icon-container {
                    height: 2.75rem !important;
                }
            }
        }
    }
}