@import '../variables';

.skills{
    background-color: #455A64;
    .skills-content{
        .grid-container{
            width: 95%;
            margin: 0 auto;
        }
    }

    .icon-container{
        border: 1px solid red;
        height: 125px;
        img{
            height: 100%;
        }
        h5{
            font-size: 1.5rem;
        }
    }
}