@import '../variables';

.skills{
    background-color: #455A64;
    .skills-content{
        .grid-container{
            width: 95%;
            margin: 0 auto;
        }
    }
    

    .icon-container{
        height: 100px;
        text-align: center;
        margin-bottom: 1.5rem;
        img{
            height: 80%;
        }
        h5{
            font-size: 1.5rem;
            margin-top: 0.25rem;
        }
    }
}