// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500");
// colors
$primary: #4576aa;
$light: #f6f6f7;
$dark-bg: #406e8e;

// Font family
$main-font: "Ubuntu", sans-serif;
