@import 'reset';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import './components/Header';
@import './components/Skills';
@import './components/Projects';
@import './components/Contacts';
@import './components/Footer';
.section {
    .section-header {
        text-align: center;
    }
    padding: 2.5rem 0;
    h2 {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
}